{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    {% block content %}
    <p>
    <h2>Cadastro</h2>
    </p>
    <div class="container">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"><b>Escoteiro ID: </b>{{ data1.id }}</th>
                    <th scope="col"><b>Número de registro: </b>{{ data1.number_register }}</th>
                    <th scope="col"><b>Seção: </b>{{ data1.section }}</th>
                </tr>
                <tr>
                    <th scope="col"><b>Primeira função: </b>{{ data1.function_first }}</th>
                    <th scope="col"><b>Segunda função: </b>{{ data1.function_second }}</th>
                    <th scope="col"><b>Terceira função: </b>{{ data.function_third }}</th>
                </tr>
            </thead>
        </table>
        {% bootstrap_messages %}
        <form action="{% url 'cad_esc_p2' data1.id %}" method="post" class="form" autocomplete="off"
            enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}
            <div class="row">
                <div class="col-2">
                    {% buttons %}
                    {% if pca == True %}

                    <button type="submit" class="btn btn-primary">Salvar</button>

                    {% else %}

                    <button type="submit" class="btn btn-primary">Cadastrar e continuar</button>

                    {% endif %}
                    {% endbuttons %}
                </div>
        </form>
    </div>
    <div>
        <div class="row">

            <div class="col-2">
                <form action="{% url 'cad_esc_p2' data1.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" name="apenas_continuar"
                        value="Continuar sem alterar">
            </div>

            <div class="col-2">
                <form action="{% url 'cad_esc_p2' data1.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" name="delete_associate_data" value="Deletar cadastro">
            </div>
            <div class="col-1">
                <input type=button class="btn btn-secondary" value=" Voltar" onClick="javascript:history.go(-1);">
            </div>
        </div>
        <!-- <form action="{% url 'cad_esc_p2' data1.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-secondary" name="apenas_continuar" value="Continuar sem alterar">

        </form>
        <form action="{% url 'cad_esc_p2' data1.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" name="delete_associate_data" value="Deletar cadastro">

        </form> -->
        <!-- <input type=button class="btn btn-secondary" value=" Voltar" onClick="javascript:history.go(-1);"> -->

        {% bootstrap_javascript jquery='full' %}
        {% endblock %}
    </div>
</body>

</html>